name: Deploy Shoply Client

on:
  push:
    branches:
      - main  # Or the branch you want to deploy from

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.PROJECT12_PEM }}" > ~/.ssh/Project12.pem
        chmod 600 ~/.ssh/Project12.pem

    - name: Install rsync
      run: sudo apt-get update && sudo apt-get install -y rsync

    - name: Deploy shoply
      run: |
        rsync -avz --delete -e "ssh -i ~/.ssh/Project12.pem -o StrictHostKeyChecking=no" \
        ./shoply/ ubuntu@13.127.163.222:/var/www/shoply/


